.site-header{
    background-color: #C8A2C8;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: #5a095a;
}
.profile-pic{
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: #6c2f6c 2px 5px 5px;
}
.site-text{
    margin: 25px;
    padding: 10px;
}